@use "../utils/_index" as *;

footer {
  
  .columns {
     flex-wrap: nowrap;
             z-index: 55555;
 
        @include mq("md") {
 	          // width: 85%;
        
     }
.row{
  


}
    .column-3 {
       @include mq("lg") {
        max-width: 100%;
        width: 90%;
      }
    }

    .column-2 {
     }
    .column-4 {
		    @include mq("lg") {

      width: 100%;}
    }
  }

  .footer-menu {
    margin-top: 12px;

    ul {
      display: grid;
      gap: 0.5rem;
    }

    li {
      color: $gray_1;
      transition: color 0.3s ease-in-out;

      @include psudo(after, "", 0, 0.5rem) {
        transform: translate(50%, 0.5rem);
        right: -0.75rem;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        color: #fff;

        &::after {
          background-color: #3de2f2;
        }
      }
    }
  }

  .footer-address-map {
    iframe {
      max-height: 70px;
      width: 260px;;
      border-radius: 1rem;
                    @include mq("md") {
width: 90%;
                    }
    }
  }
  .footer-image {
  //  z-index: -1;
    img {
       transform: translate(-21%, 0%);

              @include mq("xl") {
      transform:translate(-25%, 63%)



              }
              @include mq("lg") {
      transform: translate(0%, -18%);


              }
 
    }
  }
}
.footer-phones {
  display: grid;
  gap: 4px;
  color: #3de2f2;
  margin-top: 14px;
}

.social-media {
  margin-block-start: 0.75rem;
  display: flex;
  gap: 20px;
    
}
