@use '../utils/_index' as *;

.visible {
	visibility: visible !important;
}

.pointer-all {
	pointer-events: all !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.hidden {
	display: none !important;
}

.fade-off {
	opacity: 0;
}

.mask-wrapper {
	overflow: hidden;
}

.only-mobile {
	display: none;

	@include mq('md') {
		display: block !important;
	}
}

.only-desktop {
	@include mq('md') {
		display: none !important;
	}
}
