.visible {
  visibility: visible !important;
}

.pointer-all {
  pointer-events: all !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

.fade-off {
  opacity: 0;
}

.mask-wrapper {
  overflow: hidden;
}
