@use '../utils/_index' as *;

.container {
	max-width: 1440px;
	margin-inline: auto;

	@media (width <= 1440px) {
		margin-inline: PxToRem(16);
	}
}

body {
	background-color: $black_1;
	color: $white_1;
	overflow: hidden;
	@include psudo(after, '', 0, 100%) {
		background-color: rgba(#000000, 0.6);
		backdrop-filter: blur(20px);
		transition: opacity 0.3s ease-in;
		opacity: 0;
	}

	&[data-popup-open='true'] {
		&::after {
			opacity: 1;
		}
	}
}

html {
	overflow-x: hidden;

	&:has(body[data-popup-open='true']) {
		overflow: hidden;
	}
}

main > section:not(:first-child) {
	margin-block-start: PxToRem(64);
}

.section-title {
	@include d_flex(row, space-between);
	margin-block-end: PxToRem(20);

	.primary-btn {
		@include mq('md') {
			display: none;
		}
	}
}

.section-view-all {
	display: none;
	@include mq('md') {
		display: block;
	}
}

.custom_link {
	color: #3de2f2;
}
