@use '../utils/_index' as *;

.container {
	max-width: 1440px;
	margin-inline: auto;

	@media (width <= 1440px) {
		margin-inline: PxToRem(16);
	}
}

body {
	@include font_style('body_1');
	background-color: $black_1;
	color: $white_1;
	overflow: hidden;
}

html {
	overflow-x: hidden;
}

h1,
.h1 {
	@include font_style('h1');
}

.body-2 {
	@include font_style('body_2');
}

main > section:not(:first-child) {
	-webkit-margin-before: PxToRem(64);
	        margin-block-start: PxToRem(64);
}

.section-title {
	@include d_flex(row, space-between);
	-webkit-margin-after: PxToRem(20);
	        margin-block-end: PxToRem(20);
}
