@use '../utils/_index' as *;

.container {
	max-width: 1440px;
	margin-inline: auto;

	@media (width <= 1440px) {
		margin-inline: PxToRem(16);
	}
}

body {
	background-color: $black_1;
	color: $white_1;
	overflow: hidden;
}

html {
	overflow-x: hidden;
}

main > section:not(:first-child) {
	margin-block-start: PxToRem(64);
}

.section-title {
	@include d_flex(row, space-between);
	margin-block-end: PxToRem(20);

	.primary-btn {
		@include mq('md') {
			display: none;
		}
	}
}

.section-view-all {
	display: none;
	@include mq('md') {
		display: block;
	}
}
