@forward './ui_design';
@forward './contact';
@forward './footer';
@forward './portfolio';
@forward './seo';
@forward './faq';
@forward './work-step';

.service-page .swiper * {
	transition: 0.3s ease;
}

.service-page {
	> .swiper {
		> .swiper-wrapper {
			> .swiper-slide {
				height: calc(100vh - var(--header-height));

				&:not(.swiper-slide-visible) {
					pointer-events: none;
				}
			}
		}
	}
}
