#portfolioServicePage {
	margin-block-start: 12rem;
	overflow: visible;

	.swiper-slide {
		&:nth-child(2n) {
			transform: translateY(3rem);
		}

		&:nth-child(2n + 1) {
			transform: translateY(-3rem);
		}
	}
}
