@use '../../utils/_index' as *;

.projects-con {
	.container {
		margin-block-start: 8rem;
		@include mq('md') {
			margin-block-start: 2rem;
		}
	}

	#portfolioServicePage {
		margin-block-start: 5rem;
		@include mq('md') {
			margin-block-start: 1rem;
		}
		overflow: visible;

		.swiper-slide {
			&:nth-child(2n) {
				transform: translateY(3rem);
			}

			&:nth-child(2n + 1) {
				transform: translateY(-3rem);
			}

			@include mq('md') {
				transform: translateY(0) !important;
			}
		}
	}
}
