@use '../../utils/_index' as *;

#uiDesignSwiper {
	.slide-0 {
		@include d_flex(column, center);

		.container {
			width: 100%;
			@include d_flex(column, center, $gap: 1rem);
		}

		@include mq('md') {
			height: calc(100vh - var(--header-height));

			.container {
				margin: 0;
				justify-content: center;
				align-items: center;
			}

			.t2 {
				@include d_flex(column, center, center, $gap: 1rem);
				@include font_style('h2');

				span {
					width: 100%;
					text-align: center;
				}
			}

			.scroll-down {
				@include d_flex(column, center, center);
			}
		}
	}
}
