@use '../../utils/_index' as *;

#uiDesignSwiper {
	* {
		transition: 0.3s ease;
	}

	> .swiper-wrapper {
		> .swiper-slide {
			height: calc(100vh - var(--header-height));

			&:not(.swiper-slide-visible) {
				pointer-events: none;
			}
		}
	}

	.slide-0 {
		@include d_flex(column, center);

		.container {
			width: 100%;
			@include d_flex(column, center, $gap: 1rem);
		}
	}

	.work-step {
		counter-increment: work;

		.container {
			@include d_flex($equal_children: true, $gap: 2rem);
			margin-block-start: 4rem;
		}

		&-content {
			a {
				color: var(--start-color);

				&:hover {
					text-decoration: underline;
				}
			}

			li {
				list-style: disc;
				margin-inline-start: 1.5rem;
				margin-block-start: 0.5rem;

				&::marker {
					color: hsla(47, 100%, 51%, 1);
					font-size: 1.5em;
					line-height: 0;
				}
			}
		}

		&-title {
			&::before {
				content: counter(work);
				margin-inline-end: 1rem;
				color: #000;
				font-size: 3rem;
				text-shadow: 1px 1px 0px var(--start-color),
					-1px -1px 0px var(--start-color);
			}
		}
	}
}
