@use "../../utils/_index" as *;
.team-wrapper{
	
}
.employ-card {
	width: 100%;
  --border-width: 2px;
   border: var(--border-width) solid transparent;
  transition: all 1s ease-in-out;
  padding: 8px 8px 20px 8px;
    min-height: 420px;
  .front {
    transition: all 3s ease-in-out;

    img {
      height:300px;
      object-fit: cover;
      border-radius: 2rem;
     }
  }
 

  &__name {
    @include font_style("h3");
  }

  &__special {
    @include font_style("body_2");
  }

  .behind-card {
    display: none;
//     // pointer-events: none;
    transition: all 0.8s ease-in-out;
    position: relative;
    inset: calc(var(--border-width) * -1) 0 0 0;
    height: calc(100% + (var(--border-width) * 2));
     border-right: none;
    border-radius: 1rem 0 0 1rem;
    align-items: flex-start;
    padding: 20px 16px 0 16px;
    &_name {
      color: $cyan;
    }
    p {
      @include font_style("body_2");
      color: $gray_2;

    }
  }

 

  &:hover {
    border-color: #15eded #04b2e9;
    .front {
      display: none;
    }
    .behind-card {
      display: block;
     }
  
  }

  @include mq("lg") {
    border-color: transparent !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    &__biography-wrapper {
      border-color: transparent;
      position: relative;
      opacity: 1;
      transform: translate(0);
    }

    &__name-wrapper {
      display: none;
    }

    &__image {
      display: flex;
      justify-content: center;

      img {
        max-width: max(50%, 200px);
      }
    }
  }
}
